 .blur {
        filter: blur(3px);
        -webkit-filter: blur(3px);
}

 .blur:hover{
        filter: blur(0px);
        -webkit-filter: blur(0px);
}





.newPage{
    
    position:fixed;
    left: 200px;
}

.m-search input{
    color: lightgray;
}


.wrapper{
    position: fixed;
    z-index: 20;
    width: auto;
    justify-content: center;
    align-content: center;
    
}
